<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fake News Checker</title>
    <link rel="stylesheet" type= "text/css" href="/static/css/style.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"> </link>
    <script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>
  </head>
  <body>
    {% if input_text %}
    <div class="{{input_text}}" id="'msgbox">
      <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
      <p>The content consider as part of a <strong>{{ input_text }}</strong> news.</p>
    </div>
    {% endif %}
    <img src="/static/images/logo.png"></img>
    <form method="post" onsubmit="return validSubmission()">
      <textarea name="news_text"></textarea>
      <div class="button">
        <button type="submit"><i class="fa fa-search" style="font-size:24px"></i></button>
        <button type="button" onclick="clearText()"><i class="fa fa-terminal" style="font-size:24px; transform:scale(-1,1)"></i></button>
      </div>
    </form>
  </body>
</html>
